@page
@model ClassDemoMinFoersteRazorPage.Pages.Events.IndexModel
@{
    ViewData["Title"] = "Events Side";
}

<h1>Liste over alle event</h1>

<table class="table">
    <thead>
    <th>Id</th>
    <th>Navn</th>
    <th>Beskrivelse</th>
    <th>Sted</th>
    <th>Tid</th>
    </thead>
    <tbody>
    @foreach (var ev in Model.Events)
    {
        <tr>
            <td>@ev.Id</td>
            <td>@ev.Name</td>
            <td>@ev.Description</td>
            <td>@ev.City</td>
            <td>@ev.DateTimeOfEvent</td>
        </tr>
    }
    </tbody>
</table>
<p></p>
<a asp-page="CreateEvent">Laver et nyt Event</a>

