@page
@model ClassDemoMinFoersteRazorPage.Pages.Events.IndexModel
@{
    ViewData["Title"] = "Events Side";
}

<h1>Liste over alle event</h1>

<form method="post">
    Search: <input type="text" asp-for="FilterCriteria"/>
    <input type="submit" value="Search"/>
</form>


<table class="table">
    <thead>
    <th>Id</th>
    <th>Navn</th>
    <th>Beskrivelse</th>
    <th>Sted</th>
    <th>Tid</th>
    </thead>
    <tbody>
    @foreach (var ev in Model.Events)
    {
        <tr>
            <td>@ev.Id</td>
            <td>@ev.Name</td>
            <td>@ev.Description</td>
            <td>@ev.City</td>
            <td>@ev.DateTimeOfEvent</td>
            <td><a asp-page="EditEvent" asp-route-id="@ev.Id">Edit</a></td>
        </tr>
    }
    </tbody>
</table>
<p></p>
<a asp-page="CreateEvent">Laver et nyt Event</a>

